mixin menu(items, mainClass)
    ul()&attributes({'class':mainClass})
        each item in items
            -var linkInfo = {'href':item.link}
            li()&attributes({'class':mainClass+'__'+item.itemClass}): a()&attributes(linkInfo)=item.title